.main{
    margin: 30px;
    background-color: white;
}
body{
    background-color: #efefef;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 38px;
    height: 38px;
}
.text_spec{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.question_message{
    margin-top: 15px;
}
.community-menu{
    color: #999;
    font-size: 13px;
}
.jumbotron{
    margin: 70px;
}
.submit-button{
    float: right;
    margin-top: 25px;
}
.comment_enum.comment_text{
    margin-bottom:5px ;
}
.comment_enum.enum_btn{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.comment_enum.enum_btn:hover{
    color: #499ef3;
}
.comment_enum{
    color: #999;
    margin-top: 5px;
}
.comment_enum.active{
    color: #499ef3;
}
.commet_body{
    margin-bottom: 15px;
    border-bottom:1px solid;
    border-color:#9999;
    padding: 5px;
}
.date_btn{
    float: right;
}